<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: system-ui, sans-serif;
        }

        body { background: whitesmoke; }

        .container {
            width: max-content;
            max-width: 1000px;
            margin: 0 auto;
            padding: 1rem;
        }

        .card {
            background: #fff;
            border-radius: 1rem;
            padding: 1rem;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin-bottom: 1rem;
        }

        .inner-container {
            display: flex;
            flex-direction: column;
            margin: 1rem 0;
        }

        .url-box, .count {
            display: inline-block;
            border-radius: 6px;
            word-break: break-all;
        }

        .url-box {
            background: #ebe1ed;
            padding: 0.75rem;
            margin-bottom: 0.5rem;
        }

        .count {
            border: 1px solid #939393;
            padding: 4px;
        }

        .link {
            color: #3b82f6;
            text-decoration: none;
            font-weight: 500;
            display: block;
            word-break: break-all;
        }

        .link:hover { color: #2563eb; }

        .deleteBtn {
            background: #ffeded;
            border: 1px solid #000;
            padding: 4px 8px;
            border-radius: 4px;
            cursor: pointer;
        }

        
    </style>
</head>
 <script>
        async function deleteUrl(id) {
            try {
                const response = await fetch(`/link/${id}`, {
                    method: 'DELETE'
                });
                if (response.ok) {
                    window.location.reload();
                }
            } catch (error) {
                console.error('Error deleting URL:', error);
            }
        }
 </script>
<body>
    <div class="container">
            <% urls.map((url) => { %>
                <div class="card">
                   <div class="inner-container">
                     <div>
                        <a class="url-box" target="_blank" href="<%= url.shortLink %>">
                            <i class="fas fa-link"></i>
                            <%= url.shortLink %>
                        </a>
                            <span class="count"> <%= url.clicks %> clickes</span>
                            <button class="deleteBtn" onclick="deleteUrl('<%= url._id %>')"><i class="fa-solid fa-trash"></i></button>  
                    </div>
                    </div>
                   <div>
                     <a class="link" target="_blank" href="<%= url.longLink %>">
                        <i class="fas fa-external-link-alt"></i>
                        <span id="original_url"><%= url.longLink %></span>
                    </a>
                   </div>
                </div>
            <%}) %>
        </div>
</body>
</html>